<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xxovek.salesman_tracker1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".admin.activity.AdminHomeActivity"></activity>
        <activity android:name=".admin.activity.AdminLoginActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBAIp_h0VNsiqjrepeY6W1o8JfP83xqLyQ" />

        <activity android:name=".user.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".user.HomeActivity" />
        <activity android:name=".user.UserProfile" />
        <activity android:name=".user.Main2Activity" />
        <activity
            android:name=".user.MapsActivity"
            android:label="@string/title_activity_maps" />

        <service android:name=".user.MyService" />
    </application>

</manifest>